<div class="beers">

    <a href="<%- `/beerDetails/${beer.id}` %>">
      <img src="<%-  beer.image_url  %>" alt="<%- beer.name %>" />
      
    </a>
    
    <h2><%- beer.name %></h2>
    <h3><%- beer.description %></h3>
    <h4><%- beer.tagline %></h4>
</div>